@import url(http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #1b1b1b;
  background-color: #1b1b1b; }

.reveal {
  font-family: "PT Sans", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #e3e3e3; }

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #e3e3e3;
  font-family: "PT Sans", sans-serif;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: none; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #d95b43;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #53777a;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #ad3923; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #e3e3e3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #d95b43;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #d95b43; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #d95b43; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #d95b43; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #d95b43; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #53777a; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #53777a; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #53777a; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #53777a; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #d95b43;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .slides {
  text-align: left; }

.reveal ol, .reveal ul {
  margin-left: 2em; }

.reveal pre {
  margin: 0; }
