<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Vue.js and Drupal</title>

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/vml.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
     var link = document.createElement( 'link' );
     link.rel = 'stylesheet';
     link.type = 'text/css';
     link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
     document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
	<section>
          <h1>Vue.js and Drupal</h1>
          <p>
            <small><a href="http://www.kedrovsky.com">Karl Kedrovsky</a></small><br>
            <small><a href="http://www.vml.com">VML</a></small><br>
            <small><a href="mailto:karl.kedrovsky@vml.com">karl.kedrovsky@vml.com</a></small><br>
            <small><a href="mailto:karl@kedrovsky.com">karl@kedrovsky.com</a></small><br>
            <small><a href="https://twitter.com/karlkedrovsky">@karlkedrovsky</a></small>
          </p>          
        </section>
	<section>
          <h1>Overview</h1>
          <p>
            <ul>
              <li class="fragment">Why Vue.js</li>
              <li class="fragment">Overview of Vue.js</li>
              <li class="fragment">Drupal Integration</li>
            </ul>
          </p>
        </section>
	<section>
          <h1>Thanks Ryan!</h1>
          <p>
            <img src="images/ryan_brewer_512.jpg" />
          </p>
        </section>
        <section>
          <h1>What is Vue.js?</h1>
          <p>
            The goal of Vue.js is to provide the benefits of <strong>reactive data binding</strong> and <strong>composable view components</strong>
            with an API that is as simple as possible.
          </p>
        </section>
        <section>
          <h1>Why Vue.js</h1>
          <p>
            <ul>
              <li class="fragment">Stands on the shoulders of giants</li>
              <li class="fragment">Shallow learning curve</li>
              <li class="fragment">You can ignore the internals</li>
              <li class="fragment">Component model</li>
              <li class="fragment">Awesome community and adoption within PHP community</li>
            </ul>
          </p>
        </section>
        <section>
          <h1>The Goal</h1>
          <p>
            <img src="images/screenshot.png" />
          </p>
        </section>
        <section>
          <section>
            <h1>Vue.js</h1>
          </section>
          <section>
            <h2>Data Binding</h2>
            <p>
              <img src="images/mvvm.png" />
            </p>
          </section>
          <section>
            <h2>Data Binding</h2>
            <pre><code>
<div class="row" id="app">
  <div class="medium-6 column">
    <p>
      Message:<br>
      <input type="text" v-model="message" autofocus>
    </p>
  </div>
  <div class="medium-6 column">
    <p>
      Message:<br>
      {{ message }}
    </p>
  </div>
</div>
            </code></pre>
          </section>
          <section>
            <h2>Data Binding</h2>
            <pre><code class="js">
new Vue({
  el: '#app',
  data: {
    message: ''
  }
});
            </code></pre>
          </section>
          <section>
            <h2>Data Binding</h2>
            <p>Demo</p>
            <p><img src="images/scared-face.png" class="plain" height="200px" width="200px" /></p>
          </section>
          <section>
            <h2>Methods</h2>
            <pre><code>
<div class="row" id="app">
  <div class="medium-6 column">
    <p>
      <button class="button" v-on:click="add()">Add</button>
    </p>
  </div>
  <div class="medium-6 column">
    <p>
      Count: {{ count }}
    </p>
  </div>
</div>
            </code></pre>
          </section>
          <section>
            <h2>Methods</h2>
            <pre><code class="js">
new Vue({
  el: '#app',
  data: {
    count: 0
  },
  methods: {
    add: function() {
      this.count++;
    }
  }
});
            </code></pre>
          </section>
          <section>
            <h2>Methods</h2>
            <p>Demo</p>
            <p><img src="images/scared-face.png" class="plain" height="200px" width="200px" /></p>
          </section>
          <section>
            <h2>Components</h2>
            <p>
              <ul>
                <li class="fragment">Extends HTML (new tags)</li>
                <li class="fragment">Encapsulates reusable code</li>
                <li class="fragment">Groups template, Javascript, and styles into one file</li>
              </ul>
            </p>
          </section>
          <section>
            <h2>Components</h2>
            <pre><code>
<div class="row" id="app">
  <div class="medium-6 column">
    <foo></foo>
  </div>
  <div class="medium-6 column">
    <bar></bar>
  </div>
</div>
            </code></pre>
          </section>
          <section>
            <h2>Components</h2>
            <pre><code class="js">
var Foo = Vue.extend({
  template: '<p>The Foo Component</p>'
});
Vue.component('foo', Foo);

var Bar = Vue.extend({
  template: '<p>The Bar Component</p>'
});
Vue.component('bar', Bar);

new Vue({
  el: '#app'
});
            </code></pre>
          </section>
          <section>
            <h2>Components</h2>
            <p>Demo</p>
            <p><img src="images/scared-face.png" class="plain" height="200px" width="200px" /></p>
          </section>
          <section>
            <h2>Child Components</h2>
            <pre><code>
<div class="row" id="app">
  <div class="medium-6 column">
    <foo></foo>
  </div>
  <div class="medium-6 column">
    <bar></bar>
  </div>
</div>
            </code></pre>
          </section>
          <section>
            <h2>Child Components</h2>
            <pre><code class="js">
var SpawnOfFoo = Vue.extend({
  template: '<p>The Spawn Of Foo Component</p>'
});

var Foo = Vue.extend({
  template: '<p>The Foo Component</p><p><spawn-of-foo></spawn-of-foo></p>',
  components: {
    'spawn-of-foo': SpawnOfFoo
  }
});
Vue.component('foo', Foo);

var Bar = Vue.extend({
  template: '<p>The Bar Component</p>'
});
Vue.component('bar', Bar);

new Vue({
  el: '#app'
});
            </code></pre>
          </section>
          <section>
            <h2>Child Components</h2>
            <p>Demo</p>
            <p><img src="images/scared-face.png" class="plain" height="200px" width="200px" /></p>
          </section>
          <section>
            <h2>Single File Components</h2>
            <p>
              <ul>
                <li class="fragment">Groups template, scripts, and styles in a single file</li>
                <li class="fragment">Requires a pre-processor (typically Webpack)</li>
                <li class="fragment">Templates can be HTML or other language like Jade</li>
                <li class="fragment">Scripts can be Javascript, CoffeeScript, etc.</li>
                <li class="fragment">Styles can be CSS, Sass, etc.</li>
              </ul>
            </p>
          </section>
          <section>
            <h2>Single File Components</h2>
            <pre><code lang="js">
<template>
  <div>
    <h1>Demo Component</h1>
    <p class="red">{{ message }}</p>
  </div>
</template>
<script>
  export default {
   name: "Demo",
   data() {
     return {
       message: "Woohoo!"
     }
   }
 }
</script>
<style>
 .red {
   color: #ee2222;
 };
</style>
            </code></pre>
          </section> 
          <section>
            <h2>Single File Components</h2>
            <pre><code lang="js">
import Vue from 'vue';

import Demo from './components/demo.vue';

new Vue({
  el: '#app',
  components: {
    Demo
  }
});
            </code></pre>
          </section> 
          <section>
            <h2>Single File Components</h2>
            <pre><code class="js">
gulp.task('webpack', function() {
  return gulp.src('js_sfc/sfc.js')
    .pipe(webpack({
      module: {
        loaders: [
          {
            test: /\.js$/,
            exclude: /node_modules/,
            loader: 'babel'
          },
          {
            test: /\.vue$/,
            loader: 'vue'
          }
        ]
      },
      babel: {
        presets: ['es2015'],
        plugins: ['transform-runtime']
      },
      resolve: {
        modulesDirectories: ['node_modules']
      },
      output: {
        filename: 'sfc.js'
      }
    }))
    .pipe(gulp.dest('web/js/'));
});
            </code></pre>
          </section>
          <section>
            <h2>Single File Components</h2>
            <p>Demo</p>
            <p><img src="images/scared-face.png" class="plain" height="200px" width="200px" /></p>
          </section>
        </section>
        <section>
          <section>
            <h1>Drupal Integration</h1>
            <ul>
              <li class="fragment">Creating custom component blocks and content items</li>
              <li class="fragment">Using Drupal 8's built in REST API support</li>
            </ul>
            <aside class="notes">
              <p>We're only going to look at adding functionality to a Drupal site, not creating a SPA.</p>
            </aside>
          </section>
          <section>
            <h2>Adding Components To A Drupal Site</h2>
            <ul>
              <li class="fragment">Custom block type</li>
              <li class="fragment">Custom content type</li>
              <li class="fragment">Add Vue.js to your theme</li>
            </ul>
          </section>
          <section>
            <h2>Custom Block Type</h2>
            <p><img src="images/custom_block_type.png" class="plain" /></p>
          </section>
          <section>
            <h2>Custom Content Type</h2>
            <p><img src="images/custom_content_type.png" class="plain" /></p>
          </section>
          <section>
            <h2>Theme Files - Block</h2>
            <pre><code lang="twig">
{# block--vue-block.html.twig #}
{{ content.field_component_name }}
            </code></pre>
            <aside class="notes">
              <p>For the content type we'll just use the standard node template, Bartik just had some bits in the block I wanted to remove.</p>
            </aside>
          </section>
          <section>
            <h2>Theme Files - Field</h2>
            <pre><code lang="twig">
{# field--field-component-name.html.twig #}
{% for item in items %}
  <{{ item.content }}></{{ item.content }}>
{% endfor %}
            </code></pre>
          </section>
          <section>
            <h2>Theme Setup</h2>
            <p>vue.info.yml</p>
            <pre><code lang="yml">
name: Vue.js and Drupal
type: theme
description: Demo theme for Vue.js and Drupal
base theme: bartik
core: 8.x
libraries:
  - vue/main
            </code></pre>
          </section>
          <section>
            <h2>Theme Setup</h2>
            <p>vue.libraries.yml</p>
            <pre><code lang="yml">
main:
  version: 1.x
  js:
    js/vue.js: {}
    js/main.js: {}
            </code></pre>
          </section>
          <section>
            <h2>Theme Setup</h2>
            <p>gulpfile.js</p>
            <pre><code lang="js">
gulp.task('webpack', function() {
  return gulp.src('src/main.js')
    .pipe(webpack({
      module: {
        loaders: [
          {
            test: /\.js$/,
            exclude: /node_modules/,
            loader: 'babel'
          },
          {
            test: /\.vue$/,
            loader: 'vue'
          }
        ]
      },
      babel: {
        presets: ['es2015'],
        plugins: ['transform-runtime']
      },
      resolve: {
        modulesDirectories: ['node_modules']
      },
      output: {
        filename: 'main.js'
      }
    }))
    .pipe(gulp.dest('js/'));
});
            </code></pre>
          </section>
          <section>
            <h2>Adding Components</h2>
            <h3>demo.vue</h3>
            <pre><code>
<template>
  <div>
    <h2>{{ title }}</h2>
    {{ message }}
  </div>
</template>
<script>
 export default {
   name: "Demo",
   data() {
     return {
       title: "This Is A Demo",
       message: "Vue.js is awesome."
     }
   }
 }
</script>
            </code></pre>
          </section>
          <section>
            <h2>Adding Components</h2>
            <h3>main.js</h3>
            <pre><code>
import Vue from 'vue';

import Demo from './components/demo.vue';

new Vue({
  el: '#page',
  components: {
    Demo
  }
});
            </code></pre>
          </section>
          <section>
            <h2>Adding Components</h2>
            <p>Demo</p>
            <p><img src="images/scared-face.png" class="plain" height="200px" width="200px" /></p>
	    <aside class="notes">
              <ul>
                <li>Copy main_1.js to main.js</li>
                <li>Add a page, with a menu to /demo</li>
                <li>Add a "demo" component block</li>
              </ul>
	    </aside>
          </section>
          <section>
            <h1>Events and Resource</h1>
          </section>
          <section>
            <h2>Events</h2>
            <p>
              <ul>
                <li class="fragment">Notifications and data between components</li>
                <li class="fragment">Child components pass events up to parents</li>
                <li class="fragment">Parents pass events down to children</li>
              </ul>
            </p>
          </section>
          <section>
            <h2>Resources</h2>
            <p>
              <ul>
                <li class="fragment">Vue plugin to handle web requests</li>
              </ul>
            </p>
          </section>
          <section>
            <h2>Integrating REST Services</h2>
            <ul>
              <li class="fragment">Use Vue Resource library for getting data from Drupal</li>
              <li class="fragment">Events and methods can be used updating data</li>
            </ul>
          </section>
          <section>
            <h2>Integrating REST Services</h2>
            <h3>The Cat Content Type</h3>
            <p>
              <img src="images/cat_picture_content_type.png" />
            </p>
          </section>
          <section>
            <h2>Integrating REST Services</h2>
            <h3>A Cat Page - cat.vue</h3>
            <pre><code>
<template>
  <div>
    <h2>{{ title }}</h2>
    {{{ picture }}}
  </div>
</template>
<script>
 export default {
   name: "Cat",
   data() {
     return {
       title: "Let's see some cats!",
       picture: "A cat picture goes here."
     }
   },
   ready() {
     this.$on('new-cat', function(newCat) {
       this.title = newCat.title;
       this.picture = newCat.field_picture;
     });
   }
 }
</script>
            </code></pre>
          </section>
          <section>
            <h2>Integrating REST Services</h2>
            <h3>A Cat Page - main.js</h3>
            <pre><code>
import Vue from 'vue';
import VueResource from 'vue-resource';

Vue.use(VueResource);

import Demo from './components/demo.vue';
import Cat from './components/cat.vue';

new Vue({
  el: '#page',
  components: {
    Demo,
    Cat
  }
});
            </code></pre>
          </section>
          <section>
            <h2>Integrating REST Services</h2>
            <h3>Demo</h3>
            <p><img src="images/scared-face.png" class="plain" height="200px" width="200px" /></p>
	    <aside class="notes">
              <ul>
                <li>Copy main_2.js to main.js</li>
                <li>Add a "cat" vue page, with a menu to /cat</li>
              </ul>
	    </aside>
          </section>
          <section>
            <h2>Integrating REST Services</h2>
            <h3>A List Of Cats</h3>
            <p>
              <img src="images/screenshot_list.png" />
            </p>
          </section>
          <section>
            <h2>Integrating REST Services</h2>
            <h3>The Cat List API View</h3>
            <p>
              <img src="images/cat_picture_list_api_view.png" />
            </p>
            <aside class="notes">
              <p>Go to browser and hit the endpoint to show the json</p>
            </aside>
          </section>
          <section>
            <h2>Integrating REST Services</h2>
            <h3>The Cat List - cats.vue</h3>
            <pre><code lang="js">
<template>
  <div>
    <h2>Cats</h2>
    <p>
      <ul>
        <li v-for="cat in cats">
          <a v-on:click="loadCat(cat)">{{ cat.title }}</a>
        </li>
      </ul>
    </p>
  </div>
</template>
<script>
 export default {
   name: "Cats",
   data() {
     return {
       cats: {}
     }
   },
   ready() {
     Vue.http.get('/api/cats').then((response) => {
       this.cats = response.json();
     }, (response) => {
       console.log('Error');
     });
   },
   methods: {
     loadCat(cat) {
       this.$dispatch('new-cat', cat);
     }
   }
 }
</script>
<style>
 a:hover {
   cursor: pointer;
 }
</style>
            </code></pre>
          </section>
          <section>
            <h2>Integrating REST Services</h2>
            <h3>The Cat List - main.js</h3>
            <pre><code lang="js">
import Vue from 'vue';
import VueResource from 'vue-resource';

Vue.use(VueResource);

import Demo from './components/demo.vue';
import Cat from './components/cat.vue';
import Cats from './components/cats.vue';

new Vue({
  el: '#page',
  components: {
    Demo,
    Cat,
    Cats
  },
  methods: {
    ready() {
      this.$on('new-cat', function(cat) {
        this.$broadcast('new-cat', cat);
      }, (response) => {
        console.log('Error');
      });
    }
  }
});
            </code></pre>
          </section>
          <section>
            <h2>Integrating REST Services</h2>
            <p>Demo</p>
            <p><img src="images/scared-face.png" class="plain" height="200px" width="200px" /></p>
	    <aside class="notes">
              <ul>
                <li>Copy main_3.js to main.js</li>
                <li>Add a "cats" vue block</li>
              </ul>
	    </aside>
          </section>
          <section>
            <h1>Adding Another Event Listener</h1>
          </section>
          <section>
            <h2>Cat Counter - cat_counter.vue</h2>
            <pre><code lang="js">
<template>
  <div>
    <h2>Cat Pictures Viewed</h2>
    <span class="cat-count">{{ count }}</span>
  </div>
</template>
<script>
 export default {
   name: "CatCounter",
   data() {
     return {
       count: 0
     }
   },
   ready() {
     this.$on('new-cat', function(newCat) {
       this.count++;
     });
   }
 }
</script>
<style>
 .cat-count {
   font-size: 24px;
 }
</style>
            </code></pre>
          </section>
          <section>
            <h2>Cat Counter - main.js</h2>
            <pre><code lang="js">
import Vue from 'vue';
import VueResource from 'vue-resource';

Vue.use(VueResource);

import Demo from './components/demo.vue';
import Cat from './components/cat.vue';
import Cats from './components/cats.vue';
import CatCounter from './components/cat_counter.vue';

new Vue({
  el: '#page',
  components: {
    Demo,
    Cat,
    Cats,
    CatCounter
  },
  methods: {
    ready() {
      this.$on('new-cat', function(cat) {
        this.$broadcast('new-cat', cat);
      }, (response) => {
        console.log('Error');
      });
    }
  }
});
            </code></pre>
          </section>
        </section>
	<section>
          <h1>Tips and Guidelines</h1>
          <p>
            <ul>
              <li class="fragment">Prefer Vue functionality over jQuery, etc.</li>
              <li class="fragment">Use Vue Resource for "ajax" integration</li>
              <li class="fragment">Use Vue Router for Single Page Apps</li>
              <li class="fragment">Use Vuex for complicated state management</li>
              <li class="fragment">Learn Javascript (es6/es2015)</li>
              <li class="fragment">Check out <a href="https://laravel.com/docs/master/elixir">Laravel Elixer</a></li>
            </ul>
          </p>
        </section>
	<section>
          <h1>Resources</h1>
          <p>
            <ul>
              <li><a href="https://vuejs.org/">Vue.js</a></li>
              <li><a href="https://github.com/vuejs/vue-resource">Vue Resource</a></li>
              <li><a href="https://github.com/vuejs/vue-router">Vue Router</a></li>
              <li><a href="https://github.com/vuejs/vuex">Vuex</a></li>
              <li><a href="https://leanpub.com/book_search?search=vue">Vue Books On Leanpub</a></li>
              <li><a href="https://laracasts.com/series/learning-vue-step-by-step">Vue Series On Laracasts</a></li>
              <li><a href="http://watch-learn.com/series/one-page-app-with-drupal-8-and-vue-js">Watch+Learn Series - SPA With Vue and Drupal 8</a></li>
              <li><a href="https://webpack.github.io/">Webpack</a></li>
              <li><a href="https://www.drupal.org/developing/api/8/rest">Drupal 8 Rest API</a></li>
              <li><a href="https://www.drupal.org/project/restui">RestUI Module</a></li>
            </ul>
          </p>
        </section>
        <section>
          <h1>Thank You!</h1>
        </section>
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>
     // More info https://github.com/hakimel/reveal.js#configuration
     Reveal.initialize({
       history: true,

       // More info https://github.com/hakimel/reveal.js#dependencies
       dependencies: [
	 { src: 'plugin/markdown/marked.js' },
	 { src: 'plugin/markdown/markdown.js' },
	 { src: 'plugin/notes/notes.js', async: true },
	 { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
       ]
     });
    </script>
  </body>
</html>
